@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;700&family=Inter:wght@300;400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
radio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body{
height: 100vh;
background-color: #fefefe;
/* background-color: #ffffff */
;
}




/* lazy wrapper


style="display: inline-block;width: 100%;max-width: 640px" */
/* body {padding-bottom: 200px}
  .lazy-div {
      /* background-color: #fff;
      display: inline-block;
      position: relative;
      border:none;
     width: 100%;
  } 
  */
/* .responsive {
  position: absolute; 
      max-width: 100%;
      height: auto;
      
      
      margin: 15px 15px 15px 15px;
      transition: 1s linear;
  } */
/* .lazy-div .unloaded {
     opacity: 0;
     visibility: hidden;
  } */


text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color:#222222;
  /* transition: 0.3s; */
}

/* Hyperlinks */

a {
  /* color:black; */
  color:#222222;
  text-decoration: none;
  transition: 0.3s;
    letter-spacing: -0.04em;
    line-height: 1.5em;
}

a:hover {
  color: turquoise;
}

a:active {
  color: grey;
  
}

/* 
.text-div {
  display: block;
}
 */
.header{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
    font-size: min(calc(16px + (21 - 16) * ((100vw - 300px) / (700 - 300))),21px);
    /* font-size: min(calc(16px + (24 - 14) * ((100vw - 300px) / (700 - 300))),24px) */
}

.page-title{ font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: min(calc(36px + (51 - 36) * ((100vw - 300px) / (700 - 300))),51px);
  line-height: 224.52%;
  /* or 125px */
  text-align: center;
  letter-spacing: -0.06em;
padding-top: min(calc(31px + (44 - 31) * ((100vw - 300px) / (700 - 300))),44px);
padding-bottom: min(calc(26px + (41 - 26) * ((100vw - 300px) / (700 - 300))),41px);
}

.symbol-div{
  padding-bottom:    min(calc(10px + (12 - 10) * ((100vw - 300px) / (700 - 300))),12px);
   ;}


  .page-div
  {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    box-sizing: border-box;
    padding:min(calc(5px + (30 - 5) * ((100vw - 300px) / (700 - 300))),30px);
    background-color: #FDFAFB;
       }


     .menu-container{
      /* height: 100%;
      position: relative;
      height: 100vh; */
      /* this would center it on x axis */
      /* justify-content: center; */
      flex-grow: 1;      
      display: flex;
  align-items: center; /* Centers items vertically */

    }

  .menu-div{
    font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
    font-size: min(calc(24px + (40 - 24) * ((100vw - 300px) / (700 - 300))),40px);
    /* text-align: center; */
    
    /* position: absolute; */
    /* top: 50%; */
    left: 20px; /* Adjust the value as needed */
    /* transform: translateY(-50%); */
    /* padding: 0px 10px 0px 20px; */
    /* border: 3px dashed #1c87c9; */
/* height:auto; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* text-align: center; */
   

  }
.symbol-text{
 font-size:    min(calc(14px + ( 14 - 14) * ((100vw - 300px) / (700 - 300))),14px)
}

.symbol-text-moon{
  font-size:    min(calc(15px + ( 21 - 15) * ((100vw - 300px) / (700 - 300))),21px)
 }
  .section-break{font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight:300;
    /* font-size: 21px; */
    text-align: center;
    line-height: 120.02%;
    padding-top: min(calc(16px + (24 - 14) * ((100vw - 300px) / (700 - 300))),24px);
    padding-bottom:  min(calc(16px + (24 - 14) * ((100vw - 300px) / (700 - 300))),24px);

      font-size: min(calc(16px + (24 - 14) * ((100vw - 300px) / (700 - 300))),24px);

    /* or 62px */
    
    }





  .section-title{font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight:300;
    text-align: center;
    line-height: 120.02%;
  padding-top: min(calc(35px + (50 - 35) * ((100vw - 300px) / (700 - 300))),50px);

      font-size: min(calc(17px + (20 - 17) * ((100vw - 300px) / (700 - 300))),20px);

     /* or 62px */
    
    }



      @media only screen and (max-width: 400px) {
        #end {
          padding-bottom:  50px;
        }
      }
/*       

   */
      /* or 62px */
      

.landscape {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: min(30px, 5%) 1.5% min(30px, 5%) 1.5%;
  box-sizing: border-box;
  margin: auto;
}

.portrait {
  width: 84%;
  max-width: 450px;
  height: auto;
  padding: min(25px, 6%) 8% min(25px, 6%) 8%;
  /* box-sizing: border-box; */
  margin: auto;

}

.break-div {
  min-height: 17vh;
  display: none;
}


.column {
  float: left;
  margin: auto
}

.row::after {
  margin: auto
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: auto
}



/* .image-div{ */
  /* display: block;
 margin: auto 0 auto 0;  */
/* }  */

.image {
  display: block;
  /* margin: auto 0 auto 0;  */
}

/* .parent-div{
 min-height: 100vh; 
 display: block;
 margin: auto 0 auto 0; 
}

.text-div {
  display: none;
}

.menu {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter Tight";
  margin: auto 0 auto 0;
  padding: 20px 3% 0 3%;
  text-align: left;
}

/* div { border:1px solid green;} */

/* .full-wrapper{
    height: 100vh;
 } */
/* .div1{

    overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
} */


/* .image{
    
     scroll-snap-align: start;
} 
*/




/*
For horiztontal scroll

.image{
    display:inline-block;
    
} 

 .full-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    white-space:nowrap;
} */